language: c
cache:
  directories:
    - "$HOME/cache"
compiler:
  - gcc
sudo: false
script: ./test/travis/script.sh
notifications:
  email:
    on_success: never
    on_failure: never
  irc: "irc://chat.freenode.net/#libsuola"
  use_notice: true
env:
  - OPENSSL_VERSION=OpenSSL_1_1_1
  - OPENSSL_VERSION=OpenSSL_1_0_2p
  - OPENSSL_VERSION=master
addons:
  apt:
    packages:
      - cmake
